<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/cities.css">
    <script src="js/cities.js" defer></script>
</head>
<body >
        <div id="city-container">
            <h1 id="city-name">TÜRKİYE</h1>
            <h2  id="city-region">7 BÖLGE</h2>
            <p  id="city-plate">7 ŞEHİR</p>
            <img id="city-image" src="https://www.msb.gov.tr/Content/images/istiklal_marsi_logo.png" />
        </div>
</body>
</html>