<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anasayfa</title>
    <link rel="stylesheet" href="css/home.css">
    <script src="js/home.js" defer></script>
</head>

<body>
    <div class="py-20 flex justify-center">
        <a id="a1" href="/cities" target="_blank" onclick="myFunction1()">Rest API</a>
        <a id="a2" href="/citiesmvc" target="_blank" onclick="myFunction2()">Web MVC</a>
    </div>
    <script src="https://cdn.tailwindcss.com"></script>
</body>

</html>